<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpit.dao.BillCacheMapper">
  <resultMap id="GroupUserWithUserInfo" type="com.cpit.icp.dto.crm.GroupUser">
      <id column="group_user_id" jdbcType="INTEGER" property="groupUserId"/>
      <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
      <result column="group_type" jdbcType="INTEGER" property="groupType"/>
      <result column="status_cd" jdbcType="INTEGER" property="statusCd"/>
      <result column="user_user_id" jdbcType="INTEGER" property="user.userId" />
      <result column="user_city_code" jdbcType="VARCHAR" property="user.cityCode"/>
      <result column="user_cust_id" jdbcType="INTEGER" property="user.custId"/>
      <result column="user_card_id" jdbcType="INTEGER" property="user.cardId"/>
      <result column="user_service_id" jdbcType="VARCHAR" property="user.serviceId"/>
      <result column="user_pay_way" jdbcType="INTEGER" property="user.payWay"/>
      <result column="user_offer_id" jdbcType="INTEGER" property="user.offerId"/>
      <result column="user_coop_unit_id" jdbcType="VARCHAR" property="user.coopUnitId"/>
      <result column="user_company_id" jdbcType="VARCHAR" property="user.companyId"/>
      <result column="user_create_date" jdbcType="TIMESTAMP" property="user.createDate"/>
      <result column="user_customer_third_identifie" jdbcType="VARCHAR" property="user.customer.thirdIdentifie"/>
      <result column="user_customer_cust_name" jdbcType="VARCHAR" property="user.customer.custName"/>
      <result column="user_user_type" jdbcType="VARCHAR" property="user.userType"/>
      <result column="credit_limit" jdbcType="VARCHAR" property="creditLimit"/>
  </resultMap>
  <resultMap id="BrBatteryCharge" type="com.cpit.icp.dto.resource.BrBatterycharge">
      <id column="battery_id" jdbcType="INTEGER" property="batteryId" />
      <result column="battery_code" jdbcType="VARCHAR" property="batteryCode" />
      <result column="city_code" jdbcType="INTEGER" property="cityCode" />
      <result column="batterycharge_type" jdbcType="INTEGER" property="batterychargeType" />
      <result column="station_id" jdbcType="INTEGER" property="stationId" />
      <result column="battery_name" jdbcType="VARCHAR" property="batteryName" />
      <result column="power_rate" jdbcType="VARCHAR" property="powerRate" />
      <result column="is_support_real_calc" jdbcType="INTEGER" property="isSupportRealCalc" />
      <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
      <result column="brStationDetail_contact_address" jdbcType="VARCHAR" property="brStationDetail.contactAddress" />
      <result column="brStationDetail_station_code" jdbcType="VARCHAR" property="brStationDetail.stationCode" />
      <result column="brStationDetail_station_name" jdbcType="VARCHAR" property="brStationDetail.stationName" />
  </resultMap>
  <resultMap id="prodOffer" type="com.cpit.icp.dto.billing.prod.offer.BbProdOffer">
  	<id column="prod_offer_id" jdbcType="INTEGER" property="prodOfferId" />
  	<result column="pricing_plan_id" jdbcType="INTEGER" property="pricingPlanId" />
  	<result column="flat_Info" jdbcType="DECIMAL" property="flatInfo" />
  	<result column="peak_Info" jdbcType="DECIMAL" property="peakInfo" />
  	<result column="valley_Info" jdbcType="DECIMAL" property="valleyInfo" />
  	<result column="top_Info" jdbcType="DECIMAL" property="topInfo" />
  </resultMap>
  <resultMap id="BfRuleConfigT" type="com.cpit.icp.dto.billing.prod.rule.BfRuleConfigT">
    <id column="rule_id" jdbcType="INTEGER" property="ruleId" />
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
    <id column="cond_id" jdbcType="INTEGER" property="condId" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="sys_id" jdbcType="INTEGER" property="sysId" />
    <result column="cond_type" jdbcType="INTEGER" property="condType" />
    <result column="obj_code" jdbcType="VARCHAR" property="objCode" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="oper_code" jdbcType="SMALLINT" property="operCode" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <resultMap id="BfPricingPlanT" type="com.cpit.icp.dto.billing.prod.tariffconfiguration.BfPricingPlanT">
    <id column="pricing_plan_id" jdbcType="INTEGER" property="pricingPlanId" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="pricing_plan_name" jdbcType="VARCHAR" property="pricingPlanName" />
    <result column="pricing_desc" jdbcType="VARCHAR" property="pricingDesc" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="if_valid" jdbcType="INTEGER" property="ifValid" />
  </resultMap>
  <resultMap id="BfTariffT" type="com.cpit.icp.dto.billing.prod.tariffconfiguration.BfTariffT">
    <id column="tariff_id" jdbcType="INTEGER" property="tariffId" />
    <result column="pricing_section_id" jdbcType="INTEGER" property="pricingSectionId" />
    <result column="if_gather" jdbcType="INTEGER" property="ifGather" />
    <result column="acct_item_type_id" jdbcType="INTEGER" property="acctItemTypeId" />
    <result column="tariff_unit_id" jdbcType="INTEGER" property="tariffUnitId" />
    <result column="calc_method_id" jdbcType="TINYINT" property="calcMethodId" />
    <result column="ref_value_type" jdbcType="SMALLINT" property="refValueType" />
    <result column="rate_scene_id" jdbcType="INTEGER" property="rateSceneId" />
    <result column="rate_value" jdbcType="DECIMAL" property="rateValue" />
    <result column="scene_id" jdbcType="INTEGER" property="sceneId" />
    <result column="if_discount" jdbcType="TINYINT" property="ifDiscount" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
  </resultMap>
  <resultMap id="BfRebateObjT" type="com.cpit.icp.dto.billing.prod.scheme.BfRebateObjT">
    <id column="rebate_plan_id" jdbcType="INTEGER" property="rebatePlanId" />
    <id column="obj_type" jdbcType="INTEGER" property="objType" />
    <id column="obj_id" jdbcType="INTEGER" property="objId" />
    <id column="batch_no" jdbcType="INTEGER" property="batchNo" />
    <result column="rebate_kind" jdbcType="INTEGER" property="rebateKind" />
  </resultMap>
  <resultMap id="BfRebateAttr" type="com.cpit.icp.dto.billing.prod.scheme.BfRebateAttrTKey">
    <id column="rebate_plan_id" jdbcType="INTEGER" property="rebatePlanId" />
    <id column="attr_id" jdbcType="INTEGER" property="attrId" />
    <id column="attr_value" jdbcType="INTEGER" property="attrValue" />
    <id column="batch_no" jdbcType="INTEGER" property="batchNo" />
  </resultMap>
  <resultMap id="BfRebatePlanT" type="com.cpit.icp.dto.billing.prod.scheme.BfRebatePlanT">
    <id column="rebate_plan_id" jdbcType="INTEGER" property="rebatePlanId" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="rebate_kind" jdbcType="INTEGER" property="rebateKind" />
    <result column="rebate_obj" jdbcType="INTEGER" property="rebateObj" />
    <result column="favour_type" jdbcType="INTEGER" property="favourType" />
    <result column="fixed_value" jdbcType="DECIMAL" property="fixedValue" />
    <result column="rebate_percent" jdbcType="INTEGER" property="rebatePercent" />
    <result column="date_kind" jdbcType="INTEGER" property="dateKind" />
    <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="begin_time" jdbcType="TIME" property="beginTime" />
    <result column="end_time" jdbcType="TIME" property="endTime" />
    <result column="eff_date" jdbcType="TIMESTAMP" property="effDate" />
    <result column="exp_date" jdbcType="TIMESTAMP" property="expDate" />
    <result column="rebate_plan_desc" jdbcType="VARCHAR" property="rebatePlanDesc" />
    <result column="if_valid" jdbcType="INTEGER" property="ifValid" />
    <result column="user_kind" jdbcType="INTEGER" property="userKind" />
    <result column="scene_type" jdbcType="INTEGER" property="sceneType" />
    <result column="time_scene_id" jdbcType="INTEGER" property="timeSceneId" />
    <result column="rate_scene_id" jdbcType="INTEGER" property="rateSceneId" />
    <result column="if_compare" jdbcType="INTEGER" property="ifCompare" />
  </resultMap>
  <resultMap id="fullGroupCust" type="com.cpit.icp.dto.crm.GroupCust">
        <id column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="group_type" jdbcType="VARCHAR" property="groupType"/>
        <result column="if_average" jdbcType="INTEGER" property="ifAverage"/>
        <result column="cust_id" jdbcType="INTEGER" property="custId"/>
  </resultMap>
  <resultMap id="BfAcctBalanceT" type="com.cpit.icp.dto.billing.baseconfig.BfAcctBalanceT">
    <id column="acct_balance_id" jdbcType="BIGINT" property="acctBalanceId" />
    <result column="balance_type_id" jdbcType="INTEGER" property="balanceTypeId" />
    <result column="acct_id" jdbcType="INTEGER" property="acctId" />
    <result column="eff_date" jdbcType="TIMESTAMP" property="effDate" />
    <result column="exp_date" jdbcType="TIMESTAMP" property="expDate" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="cycle_upper_type" jdbcType="VARCHAR" property="cycleUpperType" />
    <result column="object_type" jdbcType="VARCHAR" property="objectType" />
    <result column="serv_id" jdbcType="INTEGER" property="servId" />
    <result column="write_off" jdbcType="DECIMAL" property="writeOff" />
    <result column="pre_use" jdbcType="DECIMAL" property="preUse" />
    <result column="change_date" jdbcType="TIMESTAMP" property="changeDate" />
    <result column="arrear_fee" jdbcType="DECIMAL" property="arrearFee" />
    <result column="if_transdata" jdbcType="INTEGER" property="ifTransdata" />
  </resultMap>
  <resultMap id="BbBusinessParamT" type="com.cpit.icp.dto.billing.baseconfig.BbBusinessParamT">
    <id column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <id column="object_name" jdbcType="VARCHAR" property="objectName" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="area_level" jdbcType="INTEGER" property="areaLevel" />
    <result column="service_offer_id" jdbcType="INTEGER" property="serviceOfferId" />
    <result column="object_id" jdbcType="INTEGER" property="objectId" />
    <result column="object_type" jdbcType="INTEGER" property="objectType" />
    <result column="object_control" jdbcType="INTEGER" property="objectControl" />
    <result column="object_value" jdbcType="VARCHAR" property="objectValue" />
    <result column="status_cd" jdbcType="INTEGER" property="statusCd" />
    <result column="object_note" jdbcType="VARCHAR" property="objectNote" />
  </resultMap>
  <resultMap id="BfIndbDetailRecordT" type="com.cpit.icp.dto.billing.deductionfee.BfIndbDetailRecordT">
    <result column="fee1" jdbcType="DECIMAL" property="fee1" />
    <result column="fee2" jdbcType="DECIMAL" property="fee2" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="charger_no" jdbcType="VARCHAR" property="chargerNo" />
    <result column="center_trans_no" jdbcType="VARCHAR" property="centerTransNo" />
    <result column="end_soc" jdbcType="INTEGER" property="endSoc" />
    <result column="power" jdbcType="DECIMAL" property="power" />
    <result column="real_unit" jdbcType="INTEGER" property="realUnit" />
    <result column="charge_start_date" jdbcType="TIMESTAMP" property="chargeStartDate" />
  </resultMap>
  <resultMap id="BfIndbDetailRecordKey" type="com.cpit.icp.dto.billing.deductionfee.BfIndbDetailRecordKey">
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="charger_no" jdbcType="VARCHAR" property="chargerNo" />
    <result column="charge_start_date" jdbcType="TIMESTAMP" property="chargeStartDate" />
    <result column="id" jdbcType="VARCHAR" property="id" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.cpit.icp.dto.billing.connectivity.BfBusinessStrategyT">
    <result column="battery_code" jdbcType="VARCHAR" property="batteryCode" />
    <result column="elec_price" jdbcType="DECIMAL" property="elecPrice" />
    <result column="service_price" jdbcType="DECIMAL" property="servicePrice" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="configure_type" jdbcType="SMALLINT" property="configureType" />
  </resultMap>
  <resultMap id="MonthUserMap" type="com.cpit.icp.dto.crm.MonthUser">
    <id column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="cust_id" jdbcType="INTEGER" property="custId"/>
    <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
    <result column="card_id" jdbcType="VARCHAR" property="cardId"/>
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime"/>
    <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime"/>
    <result column="fee" jdbcType="DECIMAL" property="fee"/>
    <result column="month_power" jdbcType="DECIMAL" property="monthPower"/>
    <result column="current_power" jdbcType="DECIMAL" property="currentPower"/>
    <result column="status_cd" jdbcType="INTEGER" property="statusCd"/>
    <result column="serving_status" jdbcType="INTEGER" property="servingStatus"/>
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
  </resultMap>
  <resultMap id="powerLossRateConfigTResultMap" type="com.cpit.icp.dto.billing.baseconfig.BfPowerLossRateConfigT">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="rate_oper_code" jdbcType="INTEGER" property="rateOperCode" />
    <result column="devices_type" jdbcType="INTEGER" property="devicesType" />
    <result column="devices_code" jdbcType="VARCHAR" property="devicesCode" />
    <result column="obj_type" jdbcType="INTEGER" property="objType" />
    <result column="obj_oper_code" jdbcType="INTEGER" property="objOperCode" />
    <result column="obj_id" jdbcType="VARCHAR" property="objId" />
  </resultMap>
  <select id="updateAllMonthUser" resultMap="MonthUserMap">
  	 select
        user_id,
        cust_id,
        city_code,
        card_id,
        in_time,
        invalid_time,
        fee,
        month_power,
        current_power,
        status_cd,
        serving_status
     from bb_month_user
  </select>
  <select id="selectAllBfBusinessStrategyT" parameterType="com.cpit.icp.dto.billing.connectivity.BfBusinessStrategyT" 
  resultType="com.cpit.icp.dto.billing.connectivity.BfBusinessStrategyT">
    select bibc.`battery_code` as batteryCode , 
    bibc.`configure_type` as configureType, 
    btsc.`start_date` as startTime, 
    brsc.`rate_value` as tempPrice, 
    btsc.`end_date` as endDate,
    btsc.`scene_time_id` as sceneTimeId
    from bf_indb_base_config_t bibc , 
    bf_time_scene_config_t btsc , 
    bf_rate_scene_config_t brsc
     where 1=1  
        and bibc.`rate_scene_id` = brsc.`rate_scene_id`
        and bibc.`configure_type` = 1
        and bibc.`time_scene_id` = btsc.`scene_id`
        and (btsc.`scene_time_id` = brsc.`scene_time_id` || btsc.`scene_time_id` = 2 and brsc.`scene_time_id` = 0)
  </select>
  <select id="getAllGroupUser"  resultMap="GroupUserWithUserInfo">
	select
	b.group_id, b.group_type, b.status_cd, d.credit_limit as credit_limit,
	a.card_id as user_card_id,
	a.user_id as user_user_id, a.city_code as user_city_code, a.cust_id as
	user_cust_id,
	a.service_id as user_service_id,
	a.pay_way as user_pay_way,
	a.offer_id as user_offer_id,
	a.coop_unit_id as user_coop_unit_id, a.create_date as user_create_date,
	a.status_cd as user_status_cd,
	a.user_type as user_user_type,
	a.company_id as user_company_id,
	c.third_identifie as user_customer_third_identifie,
	c.cust_name as user_customer_cust_name
	from
	(select * from bb_user_inst where status_cd=1 and card_id is not null) a
		left join
	(select * from  bb_group_user  where status_cd =1 )b
	on
	a.user_id = b.user_id
		left join 
	bb_cust c
	on
	c.cust_id = a.cust_id
	LEFT JOIN
	(SELECT * from bb_group_credit where status_cd = 1) d
	ON
	d.group_id = b.group_id
   </select>
   <select id="getGroupUserByCardId"  resultMap="GroupUserWithUserInfo"  parameterType="java.lang.String">
	select
	b.group_id, b.group_type, b.status_cd, d.credit_limit as credit_limit,
	a.card_id as user_card_id,
	a.user_id as user_user_id, a.city_code as user_city_code, a.cust_id as
	user_cust_id,
	a.service_id as user_service_id,
	a.pay_way as user_pay_way,
	a.offer_id as user_offer_id,
	a.coop_unit_id as user_coop_unit_id, a.create_date as user_create_date,
	a.status_cd as user_status_cd,
	a.user_type as user_user_type,
	a.company_id as user_company_id,
	c.third_identifie as user_customer_third_identifie,
	c.cust_name as user_customer_cust_name
	from
	(select * from bb_user_inst where status_cd=1 and card_id is not null) a
		left join
	(select * from  bb_group_user  where status_cd =1 )b
	on
	a.user_id = b.user_id
		left join 
	bb_cust c
	on
	c.cust_id = a.cust_id
	LEFT JOIN
	(SELECT * from bb_group_credit where status_cd = 1) d
	ON
	d.group_id = b.group_id
	where a.card_id = #{cardId}
   </select>
   <select id="getAllBatteryCharge"  resultMap="BrBatteryCharge">
    select 
    batterycharge.battery_id,
    batterycharge.city_code,
    batterycharge.battery_code,
    batterycharge.batterycharge_type,
    batterycharge.station_id,
    batterycharge.battery_name,
    batterycharge.power_rate,
    batterycharge.is_support_real_calc,
    batterycharge.unit_id,
    station.contact_address as brStationDetail_contact_address,
    station.station_code as brStationDetail_station_code,
    station.station_name as brStationDetail_station_name
    from br_batterycharge batterycharge  
    left join 
    br_station_detail station 
    on 
    batterycharge.station_id=station.station_id
   </select>
   <select id="getAllOffer" resultMap="prodOffer">
  	<![CDATA[
  	select prod_offer_id, pricing_plan_id , flat_Info  , top_Info , peak_Info , flat_Info , valley_Info  
  	from bb_prod_offer
    ]]>
  </select>
  <select id="getAllRuleConfig" resultMap="BfRuleConfigT">
    select 
     rule_id, group_id, cond_id, city_code, sys_id, cond_type, obj_code, params, oper_code, 
    result, note
    from bf_rule_config_t
  </select>
  <select id="getAllCumulate" resultType = "com.cpit.icp.dto.billing.deductionfee.Accumulate">
    select card_no as cardNo , accumul_charge_duration as acumulChargeDuration, accumu_energy as accumuEnergy 
    from bf_charging_accumulate
  </select>
  <select id="getAllTimeScene"  resultType="com.cpit.icp.dto.billing.prod.scene.BfTimeSceneConfigT">
    select
    scene_id  as sceneId,
    scene_time_id as sceneTimeId,
    start_date as startDate,
    city_code as cityCode,
    scene_type_id as sceneTypeId,
    scene_name as sceneName,
    end_date as endDate
    from bf_time_scene_config_t
  </select>
  <select id="getAllRateScene" resultType="com.cpit.icp.dto.billing.prod.scene.BfRateSceneConfigT">
    select 
    rate_scene_id       as rateSceneId      , 
    scene_time_id       as sceneTimeId      , 
    city_code           as cityCode            , 
    rate_scene_type_id  as rateSceneTypeId      , 
    rate_value          as rateValue               , 
    rate_scene_desc     as rateSceneDesc           
    from bf_rate_scene_config_t
  </select>
  <select id="getAllFavourPublicInfo" resultType="com.cpit.icp.dto.billing.prod.scene.BfFavourPublicInfoT">
   select `city_code` as cityCode , `server_fee` as serverFee 
   from bf_favour_public_info_t
  </select>
  <select id="getAllPricingPlan"  resultMap="BfPricingPlanT">
    select 
     pricing_plan_id, city_code, pricing_plan_name, pricing_desc, state, if_valid
    from bf_pricing_plan_t
  </select>
  <select id="getAllPricingCombineEle" resultType="com.cpit.icp.dto.billing.prod.tariffconfiguration.BfPricingCombineT">
    select 
      pricing_plan_id as pricingPlanId, 
      event_pricing_strategy_id as eventPricingStrategyId, 
      life_cycle_id as lifeCycleId, 
      calc_priority as calcPriority, 
      event_type_id as eventTypeId
    from bf_pricing_combine_t
      where event_type_id = 1
  </select>
  <select id="getAllPricingCombineService" resultType="com.cpit.icp.dto.billing.prod.tariffconfiguration.BfPricingCombineT">
    select 
      pricing_plan_id as pricingPlanId, 
      event_pricing_strategy_id as eventPricingStrategyId, 
      life_cycle_id as lifeCycleId, 
      calc_priority as calcPriority, 
      event_type_id as eventTypeId
    from bf_pricing_combine_t
    	  where event_type_id = 2
  </select>
  <select id="getAllPricingSectionByEventPricingStrategyId" resultType="com.cpit.icp.dto.billing.prod.tariffconfiguration.BfPricingSectionT">
    select 
       		pricing_section_id as pricingSectionId, 
       		pricing_section_name as pricingSectionName,
       		pricing_calc_type as pricingCalcType , 
       		start_ref_value_id as startRefValueId, 
    		end_ref_value_id as endRefValueId, 
    		event_pricing_strategy_id as eventPricingStrategyId,
    		calc_priority as calcPriority, 
    		pricing_rule_id as pricingRuleId
    		from bf_pricing_section_t
  </select>
  <select id="getAllTariff"  resultMap="BfTariffT">
    select 
        tariff_id, pricing_section_id, if_gather, acct_item_type_id, tariff_unit_id, calc_method_id, 
    		ref_value_type, rate_scene_id, rate_value, scene_id, if_discount, discount
    from bf_tariff_t
  </select>
  <select id="getAllRebateObj"  resultMap="BfRebateObjT">
    select 
    rebate_plan_id, obj_type, obj_id, batch_no, rebate_kind,operator
    from bf_rebate_obj_t
  </select>
  <select id="getAllRebateAttr" parameterType="com.cpit.icp.dto.billing.prod.scheme.BfRebateAttrTKey" resultMap="BfRebateAttr">
     select brat.rebate_plan_id,
  	      brat.attr_id,
  		  brat.attr_value,
  		  brat.batch_no
     from
          bf_rebate_attr_t brat,
          bf_rebate_plan_t brpt
     where
     brat.rebate_plan_id = brpt.rebate_plan_id
  	 AND approval_status=0
  	 AND brpt.rebate_kind = 0
  </select>
  <select id="getAllRebatePlan"  resultMap="BfRebatePlanT">
  <!-- 改成load 全部折扣，不管是否失效，因为要结算历史延迟报文，必须按历史折扣结算，按照充电开始时间在折扣时间内算 -->
    select 
    rebate_plan_id, city_code, rebate_kind, rebate_obj, favour_type, fixed_value, rebate_percent, 
    date_kind, begin_date, end_date, begin_time, end_time, eff_date, exp_date, rebate_plan_desc, 
    if_valid, user_kind ,scene_type , time_scene_id , rate_scene_id , if_compare
    from bf_rebate_plan_t
    where 
	rebate_kind = 0
	AND 
	approval_status=0
  </select>
      <!--获取集团客户信息,所有集团不光是B-->
  <select id="getAllGroupBCustFullInfo"  resultMap="fullGroupCust">
    select
        a.group_id, 
        a.if_average,
        a.cust_id
    from bb_group_cust a
  </select>
  <select id="getAllDefaultSchemeBalance" resultMap="BfAcctBalanceT">
	 SELECT
		abt.acct_balance_id,
  		abt.balance_type_id,
		abt.acct_id,
  		abt.balance,
  		abt.serv_id	
	 FROM
		bf_acct_balance_t abt , bf_balance_type_plan_t type
	 WHERE
		abt.balance_type_id = type.balance_type_id
		and type.plan_name = '默认账本配置'
	 ORDER BY type.priority ASC
  </select>
  <select id="getAllUserSchemeBalance" resultMap="BfAcctBalanceT">
  	 SELECT
  	 	btp.priority,
		abt.acct_balance_id,
  		abt.balance_type_id,
		abt.acct_id,
  		abt.balance	
	 FROM
		bf_balance_type_plan_t btp , 
		bf_user_balance_type_plan_t ubtp , 
		bf_acct_balance_t abt
	 WHERE
		btp.`plan_id` = ubtp.`plan_id`
		and abt.`balance_type_id` = btp.balance_type_id
		and ubtp.`object_id` = abt.`serv_id`
		and ubtp.`state` = 1
	 ORDER BY btp.priority ASC
  </select>
  <select id="getOverTimeParam" parameterType="com.cpit.icp.dto.billing.baseconfig.BbBusinessParamTKey" resultMap="BbBusinessParamT">
    select 
    city_code, object_name, id, area_level, service_offer_id, object_id, object_type, 
    object_control, object_value, status_cd, object_note
    from bb_business_param_t
    where object_name = '充电起始或结束时间与当前时间相比超出设定时间范围'
  </select>
  
  <select id="getAllBusinessParam"  resultMap="BbBusinessParamT">
    select 
    city_code, object_name, id, area_level, service_offer_id, object_id, object_type, 
    object_control, object_value, status_cd, object_note
    from bb_business_param_t
  </select>
  
  <select id="getHotRecord" resultMap="BfIndbDetailRecordKey">
	select  card_no, charger_no,charge_start_date ,CONCAT(card_no,"-",charger_no,"-",charge_start_date)
		from bf_indb_detail_record_key_t
	where charge_start_date > DATE_SUB(CURDATE(),INTERVAL 3 month); 
  </select>
  <select id="getBaseConfig" parameterType="com.cpit.icp.dto.billing.prod.basicelectricityprice.BEBfIndbBaseConfigT" 
  resultType="com.cpit.icp.dto.billing.prod.basicelectricityprice.BEBfIndbBaseConfigT">
    select 
    t1.city_code as cityCode,t1.fail, t1.battery_id as batteryId , t1.battery_code as batteryCode, 
    t1.station_id as stationId, t1.rate_scene_id as rateSceneId, t1.tariff_unit_id as  tariffUnitId, 
    t1.calc_method_id as calcMethodId,
    t1.if_valid as ifValid, t1.time_scene_id as timeSceneId, 
    t1.special_time_scene_id as specialTimeSceneId, t1.rule_id as ruleId, 
    t1.power_percent as powerPercent,t1.configure_type as configureType
    from bf_indb_base_config_t t1
    where 1=1
      <if test="batteryCode != null and  batteryCode != ''">
        and t1.battery_code = #{batteryCode}
      </if>
  </select>
  <select id="getGroupBGroupId2UserAccountIdList" resultType="com.cpit.icp.dto.billing.deductionfee.GroupBGroupId2AccountId">
  SELECT account_id as accountId, b.group_id as groupId
	FROM bb_acct_user_rel a, (
	SELECT b1.user_id,b2.serving_status,b1.group_type,b1.group_id group_id FROM bb_group_user b1,bb_user_inst b2 
	where b1.status_cd = 1 
	and b1.user_id=b2.user_id 
	and b2.serving_status  in (1,3) )b 
	WHERE a.user_id = b.user_id and a.status_cd = 1
	and if(b.group_type=2, a.if_default_acct = 0,a.if_default_acct=1)
	ORDER BY b.group_id
  </select>
  <select id="getGroupBGroupId2MainAccountId" resultType="com.cpit.icp.dto.billing.deductionfee.GroupBGroupId2AccountId">
  select account_id as accountId ,b.group_id as groupId
	from bb_account a ,
	(select cust_id ,group_id from bb_group_cust 
	where group_type=2 and status_cd = 1)b 
	where a.cust_id = b.cust_id and a.account_type = 2;
  </select>
  <select id="selectPowerLoss" parameterType="com.cpit.icp.dto.billing.baseconfig.BfPowerLossRateConfigT" resultMap="powerLossRateConfigTResultMap">
  select  id , city_code , name , rate, rate_oper_code, devices_type, devices_code, obj_type, obj_oper_code, obj_id    
    from bf_power_loss_rate_config_t
  </select>
    <select id="getAllCard" resultType="java.lang.String">
        SELECT card_id from bb_user_inst
    </select>
</mapper>